# exclude following files
*~
*.bak-mo
*.exe
*.exp
*.pyc
buildlog.txt
dsfinal.txt
dsin.txt
dslog.txt
dsmodel*
dymosim*
.libs
.deps
*.la
libtool
install-sh
depcomp
configure
ltmain.sh
m4
missing
config.*
Modelica/Resources/BuildProjects/autotools/AUTHORS
Modelica/Resources/BuildProjects/autotools/COPYING
Modelica/Resources/BuildProjects/autotools/ChangeLog
Modelica/Resources/BuildProjects/autotools/INSTALL
Modelica/Resources/BuildProjects/autotools/Makefile*
Modelica/Resources/BuildProjects/autotools/NEWS
Modelica/Resources/BuildProjects/autotools/compile
*.m4
autom4te.cache
*.lo
.dirstamp
*.o

# User-specific Visual Studio files
*.suo
*.user

# Visual Studio build results
LIB [Dd]ebug/
LIB [Rr]elease/

# Files built by Visual Studio
*.idb
*.obj
*.pdb
*.tlog

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
