# Do not change the line endings by default
* -text

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.csv text
*.h text
*.htm* text
*.md text
*.mo text
*.mos text
*.order text
*.py text
*.txt text
*.yml text
.gitattributes text
.gitignore text
.mailmap text
LICENSE text

# git archive keyword substitutions for the main package files
Complex.mo export-subst
Modelica/package.mo export-subst
ModelicaReference/package.mo export-subst
ModelicaServices/package.mo export-subst
ModelicaTest/package.mo export-subst
ModelicaTestOverdetermined.mo export-subst
ObsoleteModelica4.mo export-subst

# list of files that git archive should ignore
.CI export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.mailmap export-ignore
CONTRIBUTING.md export-ignore
SECURITY.md export-ignore
*.ipe export-ignore
Modelica/Resources/Documentation/Clocked/Modelica_Synchronous.pptx export-ignore
Modelica/Resources/Documentation/Fluid/Stream-Connectors-Overview-Rationale.ppt export-ignore
Modelica/Resources/Documentation/Mechanics/Figure_PlanarLoopAnalytic.ppt export-ignore
Modelica/Resources/Reference export-ignore
ModelicaTest/Resources/Reference export-ignore
