Adrian Pop <adrian.pop@liu.se>
Adrian Pop <adrian.pop@liu.se> <adrpo@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Amedeo <amato.amedeo@gmail.com>
Andreas Heckmann <andreas.heckmann@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Andreas Heuermann <38031952+AnHeuermann@users.noreply.github.com>
André Schneider <Andre@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
André Schneider <Andre@7ce873d0-865f-4ce7-a662-4bb36ea78beb> <schneider@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Anton Haumer <anton.haumer@gmail.com>
Anton Haumer <anton.haumer@gmail.com> <AHaumer@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Anton Haumer <anton.haumer@gmail.com> <AHaumer@users.noreply.github.com>
Anton Haumer <anton.haumer@gmail.com> <Anton.Haumer@gmail.com>
Anton Haumer <anton.haumer@gmail.com> <Anton@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Anton Haumer <anton.haumer@gmail.com> <ahaumer@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Anton Haumer <anton.haumer@gmail.com> <anton.haumer@oth-regensburg.de>
Antonio Froio <antonio.froio39@gmail.com>
Arunkumar Narasimhan <arunkumar.narasimhan@modelon.com>
Arunkumar Narasimhan <arunkumar.narasimhan@modelon.com> <124154466+arunkumar-narasimhan@users.noreply.github.com>
Bernhard Thiele <bernhard.thiele@dlr.de>
Bernhard Thiele <bernhard.thiele@dlr.de> <thiele@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Bruno Scaglioni <bruno.scaglioni@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Christian Andersson <christian.andersson@modelon.com>
Christian Kral <dr.christian.kral@gmail.com>
Christian Kral <dr.christian.kral@gmail.com> <christiankral@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Christian Schweiger <Christian@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Christoff Bürger <Christoff.Buerger@gmail.com>
Christoph Clauß <christoph@clauss-it.com>
Christoph Clauß <christoph@clauss-it.com> <Christoph@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Christoph Clauß <christoph@clauss-it.com> <clauss@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Christoph Richter <CRichter@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Dag Brück <dag.bruck@3ds.com>
Dag Brück <dag.bruck@3ds.com> <Dag-CVS@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Dag Brück <dag.bruck@3ds.com> <Dag@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Daniel Hedberg <dhedberg@wolfram.com>
Daniel Hedberg <dhedberg@wolfram.com> <dhedberg@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Dietmar Winkler <dietmar.winkler@dwe.no>
Dietmar Winkler <dietmar.winkler@dwe.no> <dietmar.winkler@usn.no>
Dietmar Winkler <dietmar.winkler@dwe.no> <dietmarw@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Dirk Zimmer <dirk.zimmer@dlr.de>
Dirk Zimmer <dirk.zimmer@dlr.de> <dr.dirk.zimmer@gmail.com>
Elena Shmoylova <eshmoylova@users.noreply.github.com>
Francesco Casella <francesco.casella@polimi.it>
Francesco Casella <francesco.casella@polimi.it> <Francesco@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Francesco Casella <francesco.casella@polimi.it> <fcasella@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Guido Wolf Reichert <gwr@bsl-support.de>
Hang Yu <hyu@prattmiller.com>
Hans Olsson <Hans.Olsson@3ds.com>
Hans Olsson <Hans.Olsson@3ds.com> <HansOlsson@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Hans Olsson <Hans.Olsson@3ds.com> <HansOlsson@users.noreply.github.com>
Hans Olsson <Hans.Olsson@3ds.com> <hansolsson@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Harisankar-Allimangalath <144321750+Harisankar-Allimangalath@users.noreply.github.com>
Henrik Tidefelt <henrikt@wolfram.com>
Hubertus Tummescheit <hubertus.tummescheit@modelon.com>
Hubertus Tummescheit <hubertus.tummescheit@modelon.com> <Hubertus@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Hubertus Tummescheit <hubertus.tummescheit@modelon.com> <hubertus65@users.noreply.github.com>
Hubertus Tummescheit <hubertus.tummescheit@modelon.com> <hubertus@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Jakub Tobolar <jakub.tobolar@dlr.de>
Jakub Tobolar <jakub.tobolar@dlr.de> <tobolar@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Jakub Tobolar <jakub.tobolar@dlr.de> <tobolar@users.noreply.github.com>
Jens Frenkel <frenkel@itisim.com>
Jens Frenkel <frenkel@itisim.com> <jens.frenkel@esi-group.com>
Jesper Mattson <jmattsson@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Jesse Gohl <jesse.gohl@modelon.com>
Joe Riel <joer@san.rr.com>
Johan Åkesson <jakesson@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Johannes Ziske <jziske@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Jonas Eborn <Jonas@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Jonas Eborn <Jonas@7ce873d0-865f-4ce7-a662-4bb36ea78beb> <jonaseborn@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Julien Schueller <schueller@phimeca.com>
Justin Dalrymple <justin.s.dalrymple@gmail.com>
Karin Dietl <dietl@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Katrin Prölß <kproelss@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Kevin Davies <kdavies4@gmail.com>
Kilian Link <kilian_link@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Kristin Majetta <kristin.majetta@eas.iis.fraunhofer.de>
Kristin Majetta <kristin.majetta@eas.iis.fraunhofer.de> <majetta@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Leo Gall <leo.gall@ltx.de>
Leo Gall <leo.gall@ltx.de> <leo.gall@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Leo Zambito <lzambito@maplesoft.com>
Luigi Vanfretti <luigi.vanfretti@gmail.com>
Malte Lenz <maltel@wolfram.com>
Manikantan Thiyagarajan <124235109+TManikantan@users.noreply.github.com>
Marco Kessler <marco.kessler@3ds.com>
Marcus Baur <baur_ma@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Martin Otter <Martin.Otter@dlr.de>
Martin Otter <Martin.Otter@dlr.de> <Martin@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Martin Otter <Martin.Otter@dlr.de> <MartinOtter@users.noreply.github.com>
Martin Otter <Martin.Otter@dlr.de> <otter@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Martin Sjölund <martin.sjolund@liu.se>
Martin Sjölund <martin.sjolund@liu.se> <martin+github@sjoelund.se>
Martin Sjölund <martin.sjolund@liu.se> <sjoelund.se@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Massimo Ceraolo <37046832+max-privato@users.noreply.github.com>
Matt Stinson <mrmatt2532@gmail.com>
Matt Stinson <mrmatt2532@gmail.com> <11094799+mestinso@users.noreply.github.com>
Matthis Thorade <matthis.thorade@gmail.com>
Maximilian Kormann <maximilian.kormann@3ds.com>
Michael Schellenberger Costa <mschellenbergercosta@gmail.com>
Michael Sielemann <msielemann@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Michael Wetter <mwetter@lbl.gov>
Michael Wetter <mwetter@lbl.gov> <mwetter@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Mike Tiller <mtiller@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
ModelicaBook <ModelicaBook@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Otto Tronarp <otto@tronarp.se>
Per Östlund <per.ostlund@liu.se>
Per Östlund <per.ostlund@liu.se> <perost86@gmail.com>
Peter Harman <peter.harman@deltatheta.com>
Peter Harman <peter.harman@deltatheta.com> <pharman@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Philip Jordan <pjordan@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Pierre Haessig <pierre.haessig@crans.org>
Quentin Lambert <quentinl@wolfram.com>
Rüdiger Franke <rdgfranke@gmail.com>
Rüdiger Franke <rdgfranke@gmail.com> <rfranke@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Rüdiger Franke <rdgfranke@gmail.com> <ruediger.franke@de.abb.com>
Stefan Vorkoetter <svorkoetter@maplesoft.com>
Stefan Wischhusen <wischhusen@xrg-simulation.de>
Stefan Wischhusen <wischhusen@xrg-simulation.de> <wischhusen@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Stephan Ziegler <stephan.ziegler@3ds.com>
Sven Erik Mattson <svenerik@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Thomas Beutlich <modelica@tbeu.de>
Thomas Beutlich <modelica@tbeu.de> <beutlich@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Thomas Beutlich <modelica@tbeu.de> <beutlich@users.noreply.github.com>
Thomas Beutlich <modelica@tbeu.de> <thomas.beutlich@esi-group.com>
Thomas Bödrich <ThomasBoedrich@7ce873d0-865f-4ce7-a662-4bb36ea78beb>
Volker Waurich <12234403+vwaurich@users.noreply.github.com>
carlj-w <41286817+carlj-w@users.noreply.github.com>
